<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/development-html.jpg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#F55514'"
            [innerStrokeColor]="'#F59C14'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/css3.jpg'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#0C4B95'"
            [innerStrokeColor]="'#25A9BB'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/js-logo-badge-512.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#DCD900'"
            [innerStrokeColor]="'#F2FD06'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'../assets/angularjs-spring-framework.jpg'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="140"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#D70602'"
            [innerStrokeColor]="'#7F7F7F'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/php-logo.jpg'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#0787BF'"
            [innerStrokeColor]="'#2C2C2C'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/wordpress-logo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#0C4B95'"
            [innerStrokeColor]="'#8A8C8F'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/GitHub-logo-1.jpg'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="120"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#070707'"
            [innerStrokeColor]="'#8A8C8F'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/mysql.jpg'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="90"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#0C4B95'"
            [innerStrokeColor]="'#8A8C8F'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/Node.js_logo.svg.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="130"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#212320'"
            [innerStrokeColor]="'#3D8919'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>

    </div>

</div>
