<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>Años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolore, tempore aliquid adipisci eveniet qui commodi nisi neque impedit veritatis suscipit ducimus, inventore perferendis aliquam fugiat beatae consequuntur corrupti maiores?</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>Años</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consectetur, excepturi voluptatibus nesciunt maiores itaque dolor laboriosam soluta vero nemo qui recusandae! Vel et fugit minus necessitatibus modi. Officiis, laudantium?</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>Años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum atque temporibus! Iusto est consequuntur facilis! Voluptatum nostrum nulla, soluta, perspiciatis harum aut suscipit sed, delectus vero assumenda expedita debitis!</p>
        </ul>
    </div>

</div>
