<div class="row" id="contenedor_pricipal">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto de perfil.jpg" alt="Foto de Perfil" class="img-fluid" id="foto_perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">
            Rodriguez Federico David
        </p>
        <p>
            Full Stack Developer jr.
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam dolore provident error sunt fugit et similique sint sapiente velit? Maxime asperiores corrupti, voluptatem aliquid aperiam debitis nam dolor ipsum!</p>
        </span>
    </div>
</div>
